body{
    background-color: #4682B4;
    font-family: Arial;
    font-size: 12pt;
}
h1{
    text-align: center;
}
figure{
    text-align: center;
}
img{
    border: 5px double black;
    width: 50%;
}
* {
    box-sizing: border-box;
    font-family: Arial;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #042b4e;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    background-color: #4682B4;
    padding: 10px;
  }
  
  /* Style the footer */
  .footer {
    background-color: #042b4e;
    padding: 10px;
    text-align: center;
    color: #ddd;
  }